    

  <!-- pagina aqui  -->

<div class="container h-100">

    <br>

    <div class="row">

      <div class="col-md-4 col-xs-4">
        <div class="form-group">
           <label for="unidadeVolume">Na família existe algum histórico de infarto?</label>
            <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option>Sim</option>
                <option selected>Não</option>
            </select>
          </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <label for="volumeBolsa">Se sim, qual parentesco?</label>
            <input type="text" class="form-control" id="cpf" placeholder="Ex.: Pai/Mãe">
        </div>
      </div>

    </div>

    <p>

    <div class="row">

      <div class="col-md-4 col-xs-4">
        <div class="form-group">
           <label for="unidadeVolume">O paciente é obeso?</label>
            <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option>Sim</option>
                <option selected>Não</option>
            </select>
          </div>
      </div>

      <div class="col-md-4 col-xs-4">
        <div class="form-group">
           <label for="unidadeVolume">O paciente faz uso de alguma medicação?</label>
            <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option>Sim</option>
                <option selected>Não</option>
            </select>
          </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <label for="volumeBolsa">Se sim, qual?</label>
            <input type="text" class="form-control" id="cpf" placeholder="Opcional">
        </div>
      </div>

      <p>

      <div class="col-md-4 col-xs-4">
        <div class="form-group">
           <label for="unidadeVolume">Possui alergia a alguma medicação?</label>
            <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option>Sim</option>
                <option selected>Não</option>
            </select>
          </div>
      </div>

      <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <label for="volumeBolsa">Se sim, qual?</label>
            <input type="text" class="form-control" id="cpf" placeholder="Opcional">
        </div>
      </div>

      <p>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
             <label for="unidadeVolume">Está sentindo dor?</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                  <option selected>Sim</option>
                  <option>Não</option>
              </select>
            </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
              <label for="volumeBolsa">Classifique a dor num grau de 1 a 10</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option selected default>0</option>
                <option >1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
          </div>
        </div> 
  
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
              <label for="volumeBolsa">Qual é o local da dor?</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option selected default>Escolha uma das opções</option>
                <option >Retroesternal</option>
                <option>Ombro esquerdo</option>
                <option>Pescoço</option>
                <option>Face, dentes</option>
                <option>Região interescapular</option>
                <option>Epigastrica</option>
                <option>Outro</option>
            </select>
          </div>
        </div> 

        <p></p>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
              <label for="volumeBolsa">Qual é o carater da dor?</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option selected default>Escolha uma das opções</option>
                <option>Facada</option>
                <option>Agulhada</option>
                <option>Pontada</option>
                <option>Piora ao respirar</option>
                <option>Aguda</option>
                <option>Compressão</option>
                <option>Queimação</option>
                <option>Outro</option>
            </select>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
              <label for="volumeBolsa">Há quanto tempo ocorre os sintomas?</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option selected default>Escolha uma das opções</option>
                <option>Primeira vez </option>
                <option>Frequentemente</option>
            </select>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
              <label for="volumeBolsa">Realizou algumas das atividades abaixo?</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option selected default>Escolha uma das opções</option>
                <option>Exercicio</option>
                <option>Estresse</option>
                <option>Refeição copiosa</option>
                <option>Outro</option>
            </select>
          </div>
        </div>

        <p></p>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
              <label for="volumeBolsa">A dor esta persistindo por mais de 5 minutos?</label>
              <select class="form-control" data-size="5" data-live-search="true" data-width="100%" name="unidadeVolume" required>
                <option selected default>Escolha uma das opções</option>
                <option>Sim</option>
                <option>Não</option>
            </select>
          </div>
        </div>

    </div>

    <p></p>

    
      
        <button type="button" class="btn btn-primary btn-lg btn-block">Enviar formulário</button>

 </div>    





<!--
<div class="container">
    <p>Preenchiemnto do formulario</p>
<form>
  <div class="form-row">
    <div class="form-group">
      <label class="form-check-label" for="gridCheck">
        <h5> O Paciente é obeso?&nbsp;&nbsp;</h5>
      </label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
    </div>
    <div class="form-group col-md-8">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Se sim, qual parentensco">
    </div>
  </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Endereço 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEstado">Estado</label>
        <select id="inputEstado" class="form-control">
          <option selected>Escolher...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputCEP">CEP</label>
        <input type="text" class="form-control" id="inputCEP">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Clique em mim
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label class="form-check-label" for="gridCheck">
          <h5> O Paciente é obeso?&nbsp;&nbsp;</h5>
        </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
        <label class="form-check-label" for="inlineRadio2">Não</label>
      </div>
      </div>
      <div class="form-group col-md-8">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Se sim, qual parentensco">
      </div>
    </div>



    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>
-->