<header class="sticky-top">

  
  <nav class="navbar navbar-light bg-faded" style="background-color: #1f87e5; border-color: #000;">
    
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle mr-1"> </i>
        <a class="navbar-brand">{{ user.name }}</a>
      
      </div>
    </div>
    
    <a class="navbar-brand" id="nomeuser"> </a>

    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <div *ngif != "HomeComponent">
      <a [routerLink]="['']">Login</a>
    </div>
    </span>
  </ng-template>

</header>
