<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <br>
      <img
        class="img-fluid d-none d-sm-block"
        src="https://www.hospitalmoinhos.org.br/assets/images/logo.png"
        
        alt="Imagem de um gato para as boas vindas"
      />
    </div>
    <div class="col-md-6">
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>  
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        <p><p>
          
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

-->